:root {
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

body {
  background-color: red;
}
.title {
  font-size: 70px;
  text-align: center;
}

#datetime-picker {
  background-color: tomato;
  border-color: black;
  text-align: center;
  font-size: 23px;
  padding: 7px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  transition: color var(--main-animation),
    background-color var(--main-animation), transform var(--main-animation),
    box-shadow var(--main-animation);
}

#datetime-picker:hover {
  background-color: brown;
  transform: translateY(-2px);
  box-shadow: 0px 6px 6px rgba(29, 72, 190, 0.15);
}

#datetime-picker:focus {
  outline: none;
  background-color: brown;
  transform: translateY(-2px);
  box-shadow: 0px 6px 6px rgba(29, 72, 190, 0.15);
}

#datetime-picker:active {
  background-color: brown;
}

#datetime-picker:disabled {
  background-color: rgb(196, 106, 106);
}

button {
  display: block;
  margin: auto;
  font-size: 23px;
  padding: 7px 115px;
  border-radius: 5px;
  cursor: pointer;

  background-color: tomato;
  border: 2px solid black;
  border-radius: 10px;
  transition: color var(--main-animation),
    background-color var(--main-animation), transform var(--main-animation),
    box-shadow var(--main-animation);
}

button:hover {
  background-color: brown;
  transform: translateY(-2px);
  box-shadow: 0px 6px 6px rgba(29, 72, 190, 0.15);
}
button:focus {
  outline: none;
  background-color: brown;
  transform: translateY(-2px);
  box-shadow: 0px 6px 6px rgba(29, 72, 190, 0.15);
}

button:active {
  background-color: brown;
}

button:disabled {
  background-color: rgb(196, 106, 106);
}

.timer {
  text-align: center;
  font-size: 60px;
}
/* 
.flatpickr-calendar {
  background-color: tomato;
}

.flatpickr-day.selected {
  background-color: brown;
  border-color: rgb(196, 106, 106);
}

.flatpickr-day.selected:hover {
  background-color: brown;
  border-color: rgb(196, 106, 106);
}
.flatpickr-day.selected:focus {
  background-color: brown;
  border-color: rgb(196, 106, 106);
}

.flatpickr-day.selected:active {
  background-color: brown;
  border-color: rgb(196, 106, 106);
} */
